@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.appcontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 600px) {
  .appcontainer {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 480px) {
  .appcontainer {
    padding-left: 1em;
    padding-right: 1em;
  }
}